.ulButActIt {
    display: flex;
}

.butActIt {
    border: transparent 1px solid;
    border-radius: 50%;
    border: 1px solid #666666;
    background: transparent;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.notPlayButPlay {
    background-size: 60%;
    background-image: url('./play-1001-svgrepo-com.svg');
    transition: background-image 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.notPlayButPlay:hover {
    background-image: url('./play-1001-svgrepo-com-hover.svg');
}

.isPlayButPlay {
    background-size: 50%;
    background-image: url('./stop-shape-svgrepo-com.svg');
    transition: background-image 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.isPlayButPlay:hover {
    background-image: url('./stop-shape-svgrepo-com-hover.svg');
}

.notFavBut {
    background-size: 70%;
    background-image: url('./heart-svgrepo-com.svg');
    transition: background-image 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.notFavBut:hover {
    background-image: url('./heart-svgrepo-com-hover.svg');
}

.isFavBut {
    background-size: 70%;
    background-image: url('./heart-svgrepo-com-favorite.svg');
    transition: background-image 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.isFavBut:hover {
    background-image: url('./heart-svgrepo-com-favorite-hover.svg');
}

.butActIt:hover {
    border-color: #d3d3d3;
}

.notSelBut {
    background-image: url('./bookmark-svgrepo-com.svg');
    transition: background-image 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.notSelBut:hover {
    background-image: url('./bookmark-svgrepo-com-hover.svg');
}

.isSelBut {
    background-image: url('./bookmark-svgrepo-com-favorite.svg');
    transition: background-image 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.isSelBut:hover {
    background-image: url('./bookmark-svgrepo-com-favorite-hover.svg');
}

.detBut {
    background-size: 70%;
    background-image: url('./arrow-down-339-svgrepo-com.svg');
    transition: background-image 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.detBut:hover {
    background-image: url('./arrow-down-339-svgrepo-com-hover.svg');
}

.detInfoOpen{
    transform: rotate(180deg);
}