.allDivActItFilm{
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #949494;
    background-size: cover;
    background-position: center;
    /* position: relative; */
    color: yellow;
    display: flex;
    flex-direction: column-reverse;
}

.infoActIt{
    background-color: rgba(0, 0, 0, 0.9);
}

.hActIt{
    margin-top: 0;
}