.allDivDetFilm{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.firstDivDetInf{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.imgDetFilm{
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.divPInfManBut{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.divPInfDetInf{
    flex: 1;
}

.nameCatDitInf{
    font-weight: 700;
    color: yellow;
}

@media(min-width: 600px){
    .allDivDetFilm{
        align-items: center;
    }

    .firstDivDetInf {
        flex-direction: row;
        box-sizing: content-box;
    }
}